.cards {
  align-content: left;
  margin-top: 2em;
  width: auto;
  display: grid;
  grid-template-columns: repeat(4, 12% [col-start]);
  justify-content: center;
  gap: 3em;
  list-style-type: none;
}

.alert {
  text-align: center;
  color: red;
  font-size: xx-large;
}

.container {
  margin-top: 10%;
  text-align: center;
}
.everlib-logo {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  
  .everlib-logo-first-bar,
  .everlib-logo-second-bar,
  .everlib-logo-third-bar,
  .everlib-logo-fourth-bar {
    display: inline-block;
   
    width: 9px;
    margin-right: 6px;
    transition: .5s;
    animation: equalize 4s 0s infinite;
    animation-timing-function: linear;
    vertical-align: top;
  }
  
  .everlib-logo-first-bar {
    height: 40px;
    background: #0f87ae;
    transition: 0.5s;
    animation-delay: -1.9s;
  }
  
  .everlib-logo-second-bar {
    height: 48px;
    background: #b75690;
    animation-delay: -2.9s;
  }
  
  .everlib-logo-third-bar {
    height: 44px;
    background: #86c035;
    animation-delay: -3.9s;
  }
  
  .everlib-logo-fourth-bar {
    height: 36px;
    background: #F0902E;
    animation-delay: -4.9s;
  }
}

@keyframes equalize {
  0% {
    height: 48px;
  }
  4% {
    height: 42px;
  }
  8% {
    height: 40px;
  }
  12% {
    height: 30px;
  }
  16% {
    height: 20px;
  }
  20% {
    height: 30px;
  }
  24% {
    height: 40px;
  }
  28% {
    height: 10px;
  }
  32% {
    height: 40px;
  }
  36% {
    height: 48px;
  }
  40% {
    height: 20px;
  }
  44% {
    height: 40px;
  }
  48% {
    height: 48px;
  }
  52% {
    height: 30px;
  }
  56% {
    height: 10px;
  }
  60% {
    height: 30px;
  }
  64% {
    height: 48px;
  }
  68% {
    height: 30px;
  }
  72% {
    height: 48px;
  }
  76% {
    height: 20px;
  }
  80% {
    height: 48px;
  }
  84% {
    height: 38px;
  }
  88% {
    height: 48px;
  }
  92% {
    height: 20px;
  }
  96% {
    height: 48px;
  }
  100% {
    height: 48px;
  }
}

.card-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 300px; 
  height: 300px;
  object-fit: cover;
}

.artist-card {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  text-align: center;
  max-width: 450px;
  background-color: rgb(255, 255, 255);
  color: rgb(20, 20, 20);
  border: 1px solid black;
  border-radius: 12px;
}

.card-similar-artist {
  margin-top: 2em;
  text-align: center;
}